<h1> Welcome to the app with API authentication </h1>
<p>
    This app simply shows you how you easily can implement a token-based authentication system using <a href="http://rubyonrails.org"> Ruby on Rails </a>.
</p>